<div id='remotestorage-connect'></div>

<!--
<button {{action "openInAppBrowser" "https://5apps.com/users/sign_in"}}>
  Open in-app browser
  </button>
-->

{{liquid-outlet name="main"}}

{{liquid-outlet modal}}
